/******************
* STYLE SCROLLBAR *
*******************/
:root {
  --primary: #1f2937;
  --secondary: white;
  color: var(--secondary);
}

*::-webkit-scrollbar {
  background: var(--primary);
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border: 3px solid var(--primary);
}

/*************
* TREE CHART *
**************/
.organizationchart-demo .card {
  overflow-x: auto;
}

.organizationchart-demo .p-organizationchart .p-person {
  padding: 0;
  border: 0 none;
}

.organizationchart-demo .p-organizationchart .node-header,
.organizationchart-demo .p-organizationchart .node-content {
  padding: 0.5em 0.7rem;
}

.organizationchart-demo .p-organizationchart .node-header {
  background-color: rebeccapurple;
  color: #ffffff;
}

.organizationchart-demo .p-organizationchart .frontend {
  background-color: cornflowerblue;
  color: #ffffff;
}

.organizationchart-demo .p-organizationchart .backend {
  background-color: green;
  color: #ffffff;
}

.organizationchart-demo .p-organizationchart .node-content {
  text-align: center;
  border: 1px solid transparent;
}

.organizationchart-demo .p-organizationchart .node-content img {
  border-radius: 50%;
}

.organizationchart-demo .p-organizationchart .vercel {
  background-color: #2a2a2a;
  color: #ffffff;
}

.organizationchart-demo .p-organizationchart .toolkit {
  background-color: purple;
  color: #ffffff;
}
